<h1>Accounts Balance</h1>

<%=form_tag accounts_path, :method => 'get' do %>
  <p>Account Name
    <%= text_field_tag :search, params[:search] %>
    <%= submit_tag "Search", :a_name => nil %>
  </p>
<% end %>

<table>
  <thead>
    <tr>
      <th><%=link_to 'Account Name', sort: :name %></th>
      <th><%=link_to 'Account Type', sort: :type %></th>
      <th><%=link_to 'Account Amount', sort: :amount %></th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @accounts.each do |account| %>
      <tr>
        <td><%= account.a_name %></td>
        <td><%= account.a_type %></td>
        <td><%= account.a_amount %></td>
        <td><%= link_to 'Show', account %></td>
        <td><%= link_to 'Edit', edit_account_path(account) %></td>
        <td><%#= link_to 'Destroy', account, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
<p>
<%= link_to 'New Account', new_account_path %>
</p>
<p>
<%= link_to 'New Transaction', new_transaction_path %>
</p>
<p>
<%= link_to 'List all Transaction', transactions_path %>
</p>


